:root{
    --blue-webkit: #3c91e6;
}

.dark-theme-variables{
    --blue-webkit: #1f3c5a;
}

::-webkit-scrollbar{ width: 5px !important; height: 5px !important; }
::-webkit-scrollbar-thumb{ background: var(--blue-webkit) !important; }
::-webkit-scrollbar-track{ background: transparent !important; }






:root{
    --footer-bg: #fff;
    --footer-txt: rgba(22, 20, 20, 0.795);
}
.dark-theme-variables{
    --footer-bg: rgb(13, 16, 22) !important;
    --footer-txt: #ffffff6b !important;
    
}


/* Fotter */
.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-items: center;
    padding: 1.5rem 3%;
    margin-bottom: 0;
    margin-top: 2rem;
    background: var(--footer-bg);
    color: var(--footer-txt);
}

/* body.dark .footer{
    background: red !important;
} */

.footer-text p{
    font-size: 1.3rem;
    margin-left: 17em;
}


.footer-iconTop a{
    display: inline-block;
    justify-content: center;
    align-items: center;
    padding: 0.6rem;
    background: #3c91e6;
    border-radius: .8rem;
    transition: .5s ease;
    cursor: pointer;
}

.footer-iconTop a:hover{
    background: #0e73d7;
}

.footer-iconTop a svg{
    color: #fff;
    font-weight: 700 !important;
}

.footer-iconTop a:hover{
    box-shadow: 0 0 3px #3c91e6;
}

.footer-iconTop a i{
    font-size: 1.7rem;
    color: #fff;
}

@media (max-width: 580px){    
}

@media (max-width: 576px){
    .footer-text p{
        margin-left: 0;
    }
    header .logo span{
        display: none !important;
    }

    .footer{
        flex-direction: column-reverse;
    }

    .footer-text p{
        font-size: 1.2rem;
    }

    .footer p{
        text-align: center;
        margin-top: 2rem;
    }
}